# Environments
venv/
env/
.env

# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Mac OS
.DS_Store

# Streamlit
.streamlit/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Project specific
implemenatation.md
